
<app-header></app-header>


<!--slider Section Start Here -->
<section id="slider">
  <div class="container-fluid">
    <div class="row">

      <!--slider Start Here -->
      <div class="banner-slider">

        <div class="tp-banner">
          <ul>

            <li class="item-1" data-transition="zoomin" data-slotamount="1" data-masterspeed="1000" data-thumb="assets/img/slider-1-img.jpg"  data-saveperformance="off"  data-title="Slide">

              <img src="assets/img/slider-1-img.jpg"  alt="fullslide1"  data-bgposition="center top" data-bgfit="cover"  data-bgrepeat="no-repeat">
              <div  class="slide-content">
                <h2 class="tp-caption white_heavy_60 lfb ltl tp-resizeme h1 layer-a"
                  data-x="0"
                  data-y="center"
                  data-speed="2000"
                  data-start="1100"
                  data-easing="Power4.easeInOut"
                  data-splitin="none"
                  data-splitout="none"
                  data-elementdelay="0.1"
                  data-endelementdelay="0.1"
                  data-endspeed="1000"
                  data-endeasing="Power4.easeIn"
                  style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">We are Experts</h2>

                <div class="tp-caption black_thin_blackbg_30 layer-b customin ltl tp-resizeme"
                  data-x="100"
                  data-y="350"
                  data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                  data-speed="1500"
                  data-start="2400"
                  data-easing="Power4.easeInOut"
                  data-splitin="none"
                  data-splitout="none"
                  data-elementdelay="0.01"
                  data-endelementdelay="0.1"
                  data-endspeed="1000"
                  data-endeasing="Power4.easeIn"
                  style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                  <span>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  when an unknown printer took a galley of type and scrambled it.. </span>
                </div>

                <div class="tp-caption light_heavy_60 layer-c customin ltl tp-resizeme"
                  data-x="left" data-hoffset="100"
                  data-y="center" data-voffset="100"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-speed="1000"
                  data-start="2600"
                  data-easing="Power4.easeInOut"
                  data-splitin="none"
                  data-splitout="none"
                  data-elementdelay="0.01"
                  data-endelementdelay="0.1"
                  data-endspeed="1000"
                  data-endeasing="Power4.easeIn"
                  style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                  <a href="contact-us.html" class="btn btn-default btn-effect"> <i class="svg-shape"> <img src="assets/svg/FreeConsultation.svg" alt="" class="svg" /> </i>Request a  Free Consultation  › </a>
                </div>
              </div>

            </li>

            <li class="item-2" data-transition="zoomin" data-slotamount="1" data-masterspeed="1000" data-thumb="assets/img/slider-2-img.jpg"  data-saveperformance="off"  data-title="Slide">

              <img src="assets/img/slider-2-img.jpg"  alt="fullslide1"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

              <div  class="slide-content-2">
                <div class="tp-caption white_heavy_60 lfb ltl tp-resizeme layer-a"
                data-x="center" data-hoffset="200"
                data-y="center" data-voffset="5"
                data-speed="2000"
                data-start="1100"
                data-easing="Power4.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeIn"
                style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                  <h2 class="h1">We are Experts </h2>
                </div>

                <div class="tp-caption p-text light_thin_60 lfb ltl tp-resizeme layer-b"
                data-x="center" data-hoffset="250"
                data-y="center" data-voffset="80"
                data-speed="1500"
                data-start="2000"
                data-easing="Power4.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeIn"
                style="z-index: 6; max-width: auto; max-height: auto;">
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  when an unknown printer took a galley of type and scrambled it..
                </div>

                <div class="tp-caption light_medium_30 lfr ltl tp-resizeme layer-c"
                data-x="center" data-hoffset="170"
                data-y="center" data-voffset="130"
                data-speed="1000"
                data-start="2900"
                data-easing="Power4.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeIn"
                style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                  <a href="contact-us.html" class="btn btn-default btn-effect slider-two-btn"> <i class="svg-shape"> <img src="assets/svg/FreeConsultation.svg" alt="" class="svg" /> </i>Request a  Free Consultation  › </a>
                </div>
              </div>

            </li>

            <li class="item-3" data-transition="zoomin" data-slotamount="1" data-masterspeed="1000" data-thumb="assets/img/slider-3-img.jpg"  data-saveperformance="off"  data-title="Slide">

              <img src="assets/img/slider-3-img.jpg"  alt="fullslide1"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
              <div class="slide-content-3">
                <div class="tp-caption randomrotateout layer1 slider-three-content"
                data-x="left" data-hoffset="65"
                data-y="center" data-voffset="5"
                data-speed="1000"
                data-start="500"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="500"
                style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                  <h2 class="h1">Every Client Matters </h2>
                </div>

                <div class="tp-caption randomrotateout layer2 slider-three-content"
                data-x="left" data-hoffset="65"
                data-y="center" data-voffset="95"
                data-speed="1000"
                data-start="700"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="500"
                style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
                  <span class="text-slider-three">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  when an unknown printer took a galley of type and scrambled it to make a type specimen book. </span>
                </div>

                <div class="tp-caption randomrotateout layer3 slider-three-content"
                data-x="left" data-hoffset="65"
                data-y="center" data-voffset="140"
                data-speed="1000"
                data-start="1000"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="500"
                style="z-index: 11; max-width: auto; max-height: auto; white-space: nowrap;">
                  <a href="contact-us.html" class="btn btn-default btn-effect slider-two-btn"> <i class="svg-shape"> <img src="assets/svg/FreeConsultation.svg" alt="" class="svg" /> </i>Request a  Free Consultation  › </a>
                </div>
              </div>

            </li>

          </ul>

          <div class="tp-bannertimer">
            &nbsp;
          </div>
        </div>

      </div>
      <!--slider End Here -->

    </div>
  </div>

</section>

<!--content Section Start Here -->
<div id="content">
  <!--practice-area Section Start Here -->
  <section class="practice-area animate-effect">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 section-header">
          <h2> PRACTICE AREA </h2>
          <span class="practice-desp">- When an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
        </div>
        <div class="col-xs-12 practice-law-list">
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 family-law">
              <h3 class="h3">Central Bank Of Nigeria</h3>
              <div class="family-group">
                <i class="family-law-svg"> <img src="assets/img/cbn.png" alt=""  title="" class="svg"/> </i>

              </div>
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
              <a href="blog-details.html" class="more-btn"> Know More <i class="fa fa-chevron-right"></i></a>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 family-law ">
              <h3 class="h3">Federal Inland Revenue Service</h3>
              <div class="family-group">
                <i class="bussiness-law-svg"> <img src="assets/img/firs.png" alt="" title="" class="svg"/> </i>
              </div>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
              </p>
              <a href="firs" routerLink="" class="more-btn"> Know More <i class="fa fa-chevron-right"></i></a>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 family-law ">
              <h3 class="h3">Corporate Affairs Commission</h3>
              <div class="family-group">
                <i class="civilean-law-svg"> <img src="assets/img/cac.png" alt=""  title="" class="svg"/> </i>
              </div>
              <p>
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
              </p>
              <a href="blog-details.html" class="more-btn"> Know More <i class="fa fa-chevron-right"></i></a>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 family-law ">
              <h3 class="h3">Nigeria Custom Service</h3>
              <div class="family-group">
                <i class="trust-law-svg"> <img src="assets/img/ncs.png" alt=""  title="" class="svg"/> </i>
              </div>
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <a href="#" class="more-btn"> Know More <i class="fa fa-chevron-right"></i></a>

            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 family-law">
              <h3 class="h3">Nigeria Content Development &amp; Monitoring Board</h3>
              <div class="family-group">
                <i class="family-law-svg"> <img src="assets/img/ncb.png" alt=""  title="" class="svg"/> </i>

              </div>
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
              <a href="#" class="more-btn"> Know More <i class="fa fa-chevron-right"></i></a>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 family-law ">
              <h3 class="h3">Lagos State Inland Revenue Service</h3>
              <div class="family-group">
                <i class="bussiness-law-svg"> <img src="assets/img/lirs.png" alt="" title="" class="svg"/> </i>
              </div>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
              </p>
              <a href="#" class="more-btn"> Know More <i class="fa fa-chevron-right"></i></a>

            </div>
          </div>

        </div>

      </div>

    </div>

  </section>

  <!--practice-area Section End Here -->
  <!--about-us Section Start Here -->
  <section id="about-us" class="about-us animate-effect">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 section-header">
          <h2> about us </h2>
          <span class="practice-desp">- When an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
        </div>

      </div>
    </div>

    <div role="tabpanel">
      <div class="tabing-section">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                  <a href="#home" aria-controls="home" role="tab" data-toggle="tab">History</a>
                </li>
                <li role="presentation">
                  <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Attorneys</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">
                <div class="row">
                  <div class="col-xs-12 col-sm-5 col-md-5 block-box ">
                    <h3 class="h3"> qualified attorneys </h3>
                    <p >
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                    </p>
                    <p>
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>

                    <div class="moment  zoom">
                      <span> January 2015 </span>
                      <h2> at present moment </h2>
                      <figure class="">

                        <img src="assets/img/moment-img.jpg" alt="" title=""/>

                      </figure>
                      <p>
                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.

                      </p>
                      <a class="more-btn" href="#"> Know More <i class="fa fa-chevron-right"></i></a>

                    </div>

                  </div>

                  <div class="seprater col-xs-12 col-sm-2 col-md-2 ">
                    <span>present</span>

                    <span class="small-circle"></span>
                    <span class="large-circle"></span>

                    <a href="#" class="arrow-down"> <i class="fa fa-chevron-down"></i> <i class="fa fa-chevron-down"></i> </a>
                  </div>

                  <div class="col-xs-12 col-sm-5 col-md-5 attroney-base ">
                    <h3 class="h3"> a long line of attorneys </h3>
                    <p>
                      Excepteur sint occaecat cupidatat non proident, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>

                    <div class="moment moment-right  zoom">
                      <span> Deember 2014 </span>
                      <h2> Heading Title here </h2>
                      <figure class="">

                        <img src="assets/img/heading-about-us.jpg" alt="" title=""/>

                      </figure>
                      <p>
                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.

                      </p>
                      <a class="more-btn" href="#"> Know More <i class="fa fa-chevron-right"></i></a>

                    </div>

                  </div>

                </div>

              </div>
              <div role="tabpanel" class="tab-pane" id="profile">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-3 attorney-listing  zoom">
                    <figure class="">
                      <img src="assets/img/Attorney-1-img.jpg" alt="" title=""/>
                    </figure>
                    <h2 class="at-h2"> Christina Anderson <span>CEO</span></h2>
                    <p>
                      Duis aute irure dolor in reprehenderit in
                      voluptate velit esse cillum dolore eu
                      fugiat nulla pariatur.
                    </p>

                    <a class="more-btn" href="#"> Know More <i class="fa fa-chevron-right"></i></a>
                    <ul class="media-listing ">
                      <li>
                        <a href="https://twitter.com/" target="_blank" class="fa fa-twitter">&nbsp;</a>
                      </li>
                      <li>
                        <a href="https://facebook.com/" target="_blank" class="fa fa-facebook">&nbsp;</a>
                      </li>
                      <li>
                        <a href="http://linkedin.com/" target="_blank" class="fa fa-linkedin-square">&nbsp;</a>
                      </li>
                      <li>
                        <a href="https://pinterest.com/" target="_blank" class="fa fa-pinterest">&nbsp;</a>
                      </li>
                      <li>
                        <a href="https://instagram.com/" target="_blank" class="fa fa-instagram">&nbsp;</a>
                      </li>
                      <li>
                        <a href="https://youtube.com/" target="_blank" class="fa fa-youtube">&nbsp;</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3 attorney-listing  zoom">
                    <figure class="">
                      <img src="assets/img/Attorney-2-img.jpg" alt="" title=""/>
                    </figure>
                    <h2 class="at-h2"> Alex R. Oldman <span>CEO</span></h2>
                    <p>
                      Duis aute irure dolor in reprehenderit in
                      voluptate velit esse cillum dolore eu
                      fugiat nulla pariatur.
                    </p>

                    <a class="more-btn" href="#"> Know More <i class="fa fa-chevron-right"></i></a>
                    <ul class="media-listing">
                      <li>
                        <a href="https://twitter.com/" target="_blank" class="fa fa-twitter">&nbsp;</a>
                      </li>
                      <li>
                        <a href="https://facebook.com/" target="_blank" class="fa fa-facebook">&nbsp;</a>
                      </li>
                      <li>
                        <a href="http://linkedin.com/" target="_blank" class="fa fa-linkedin-square">&nbsp;</a>
                      </li>
                      <li>
                        <a href="https://pinterest.com/" target="_blank" class="fa fa-pinterest">&nbsp;</a>
                      </li>
                      <li>
                        <a href="https://instagram.com/" target="_blank" class="fa fa-instagram">&nbsp;</a>
                      </li>
                      <li>
                        <a href="https://youtube.com/" target="_blank" class="fa fa-youtube">&nbsp;</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3 attorney-listing  zoom">
                    <figure class="">
                      <img src="assets/img/Attorney-3-img.jpg" alt="" title=""/>
                    </figure>
                    <h2 class="at-h2"> Angelina Clarke <span>CEO</span></h2>
                    <p>
                      Duis aute irure dolor in reprehenderit in
                      voluptate velit esse cillum dolore eu
                      fugiat nulla pariatur.
                    </p>

                    <a class="more-btn" href="#"> Know More <i class="fa fa-chevron-right"></i></a>
                    <ul class="media-listing">
                      <li>
                        <a href="https://twitter.com/" target="_blank" class="fa fa-twitter">&nbsp;</a>
                      </li>
                      <li>
                        <a href="https://facebook.com/" target="_blank" class="fa fa-facebook">&nbsp;</a>
                      </li>
                      <li>
                        <a href="http://linkedin.com/" target="_blank" class="fa fa-linkedin-square">&nbsp;</a>
                      </li>
                      <li>
                        <a href="https://pinterest.com/" target="_blank" class="fa fa-pinterest">&nbsp;</a>
                      </li>
                      <li>
                        <a href="https://instagram.com/" target="_blank" class="fa fa-instagram">&nbsp;</a>
                      </li>
                      <li>
                        <a href="https://youtube.com/" target="_blank" class="fa fa-youtube">&nbsp;</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3 attorney-listing  zoom">
                    <figure class="">
                      <img src="assets/img/Attorney-4-img.jpg" alt="" title=""/>
                    </figure>
                    <h2 class="at-h2"> Malina Pollard <span>CEO</span></h2>
                    <p>
                      Duis aute irure dolor in reprehenderit in
                      voluptate velit esse cillum dolore eu
                      fugiat nulla pariatur.
                    </p>

                    <a class="more-btn" href="#"> Know More <i class="fa fa-chevron-right"></i></a>
                    <ul class="media-listing">
                      <li>
                        <a href="https://twitter.com/" target="_blank" class="fa fa-twitter">&nbsp;</a>
                      </li>
                      <li>
                        <a href="https://facebook.com/" target="_blank" class="fa fa-facebook">&nbsp;</a>
                      </li>
                      <li>
                        <a href="http://linkedin.com/" target="_blank" class="fa fa-linkedin-square">&nbsp;</a>
                      </li>
                      <li>
                        <a href="https://pinterest.com/" target="_blank" class="fa fa-pinterest">&nbsp;</a>
                      </li>
                      <li>
                        <a href="https://instagram.com/" target="_blank" class="fa fa-instagram">&nbsp;</a>
                      </li>
                      <li>
                        <a href="https://youtube.com/" target="_blank" class="fa fa-youtube">&nbsp;</a>
                      </li>
                    </ul>
                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </section>

  <!--news-testimonial Section End  Here -->

  <!--client Section start  Here -->

  <!-- <section class="client animate-effect">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <h2> Clients </h2>
          <span class="practice-desp">- When an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>

          <ul class="client-listing clearfix">
            <li class="">
              <a href="#"><img src="assets/img/nike.png" alt="" title=""/></a>
            </li>
            <li class="">
              <a href="#"><img src="assets/img/puma.png" alt="" title=""/></a>
            </li>
            <li class="">
              <a href="#"><img src="assets/img/adidas.png" alt="" title=""/></a>
            </li>
            <li class="">
              <a href="#"><img src="assets/img/reebok.png" alt="" title=""/></a>
            </li>
            <li class="">
              <a href="#"><img src="assets/img/lee.png" alt="" title=""/></a>
            </li>
          </ul>

        </div>

      </div>

    </div>

  </section> -->
  <!--client Section End  Here -->

  <!--client Section End  Here -->

  <section class="hiring-info animate-effect">
    <div class="container ">
      <div class="row">
        <!-- <div class="col-xs-12 col-sm-8 col-md-8">
          <h2 class="long-heading"> We are hiring ! Some long heading title will here! </h2>
          <p class="hiring-detail">
            Excepteur sint occaecat cupidatat non proident, sunt in deserunt mollit anim id est laborum.
            Voluptate velit esse cillum dolore eu fugiat nulla pariatur.

          </p>

        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">

          <a href="#" class="more-btn btn-footer"> Know More <i class="fa fa-chevron-right"></i></a>
        </div> -->

      </div>

    </div>

  </section>
  <!--client Section End  Here -->

</div>
<!--content Section End Here -->

<!--footer Section Start Here -->
<footer id="footer">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-8">
          <nav class="navbar navbar-default">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li>
                  <a href="index.html">Home </a>
                </li>

                <li>
                  <a href="#about-us"> About </a>
                </li>

                <li>
                  <a href="#"> Practice Areas</a>
                </li>
                <li>
                  <a href="#" > Attorneys </a>

                </li>
                <li>
                  <a href="#" >Blog </a>

                </li>
                <li>
                  <a href="#"> Features</a>

                </li>

                <li>
                  <a href="contact-us.html"> Contacts</a>
                </li>

              </ul>

            </div>

          </nav>

        </div>
        <div class="consultation">
          <a href="contact-us.html"><i class="svg-shape icon-enevlope"> <img src="assets/svg/FreeConsultation.svg" alt="" class="svg" /> </i><span>Request a  Free Consultation <i class="fa fa-chevron-right"></i></span> </a>

        </div>

      </div>

    </div>

  </div>
  <div class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 block-right"	>
          <div class="row">
            <!-- <div class="col-xs-12 col-sm-6  practice-footer tablet-mode">
              <h3> Practice Areas </h3>
              <ul class="practice-listing">
                <li>
                  <a href="#">SERIOUS CAR CRASH <i class="fa fa-chevron-right"></i></a>
                </li>
                <li>
                  <a href="#">BRAIN INJURY <i class="fa fa-chevron-right"></i></a>
                </li>
                <li>
                  <a href="#">TRUCK ACCIDENTS <i class="fa fa-chevron-right"></i></a>
                </li>
                <li>
                  <a href="#">SEMI-TRUCK COLLISION <i class="fa fa-chevron-right"></i></a>
                </li>
                <li>
                  <a href="#">MOTORCYCLE ACCIDENTS <i class="fa fa-chevron-right"></i></a>
                </li>
                <li>
                  <a href="#">WRONGFUL DEATH <i class="fa fa-chevron-right"></i></a>
                </li>
              </ul>

            </div>

            <div class="col-xs-12 col-sm-6 tablet-mode">
              <ul class="practice-listing listing-continue">
                <li>
                  <a href="#">SERIOUS CAR CRASH <i class="fa fa-chevron-right"></i></a>
                </li>
                <li>
                  <a href="#">BRAIN INJURY <i class="fa fa-chevron-right"></i></a>
                </li>
                <li>
                  <a href="#">TRUCK ACCIDENTS <i class="fa fa-chevron-right"></i></a>
                </li>
                <li>
                  <a href="#">SEMI-TRUCK COLLISION <i class="fa fa-chevron-right"></i></a>
                </li>
                <li>
                  <a href="#">MOTORCYCLE ACCIDENTS <i class="fa fa-chevron-right"></i></a>
                </li>
                <li>
                  <a href="#">WRONGFUL DEATH <i class="fa fa-chevron-right"></i></a>
                </li>
              </ul>

            </div> -->
            <div class="col-xs-12 col-sm-6  spacer-mobile">
              <address class="location clearfix">
                <a href="#" class="icon-location"> <i class="svg-shape"> <img src="assets/svg/pin.svg" alt="" class="svg" /></i></a>
                <div class="address-info">
                  <span class="attorney-theme">Attorney Theemon.com</span>
                  <span> A-2, Sector-63,</span>
                  <span>Noida, 201301,</span>
                  <span>India</span>
                </div>

              </address>
              <a href="tel:17079217269" class="contact-number clearfix"><i class="icon-call svg-shape"> <img src="assets/svg/phone.svg" alt="" class="svg" /></i><span> +1 707 921 7269</span> </a>
              <a href="https://theemon.com/cdn-cgi/l/email-protection#d3bbb6bfbfbc93b2a7a7bca1bdb6aafdb0bcbe" class="contact-number mail-info clearfix"><i class="icon-call icon-msg svg-shape"><img src="assets/svg/mail.svg" alt="" class="svg" /> </i><span><span class="__cf_email__" data-cfemail="5e363b3232311e3f2a2a312c303b27703d3133">[email&#160;protected]</span></span> </a>
              <ul class="media-listing">
                <li>
                  <a href="https://twitter.com/" target="_blank" class="fa fa-twitter">&nbsp;</a>
                </li>
                <li>
                  <a href="https://facebook.com/" target="_blank" class="fa fa-facebook">&nbsp;</a>
                </li>
                <li>
                  <a href="http://linkedin.com/" target="_blank" class="fa fa-linkedin-square">&nbsp;</a>
                </li>
                <li>
                  <a href="https://pinterest.com/" target="_blank" class="fa fa-pinterest">&nbsp;</a>
                </li>
                <li>
                  <a href="https://instagram.com/" target="_blank" class="fa fa-instagram">&nbsp;</a>
                </li>
                <li>
                  <a href="https://youtube.com/" target="_blank" class="fa fa-youtube">&nbsp;</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6"	>
          <div class="row">
            <div class="col-xs-12 col-sm-6  spacer-mobile">
              <a href="index.html" class="footer-logo"><img src="assets/svg/logo.png" style="height: 40px;" alt="" title=""/></a>
              <p>
                Attrney is WORPRESS theme. Excepteur sint occaecat cupidatat non proident.
              </p>
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ex ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <span class="get-theme">Get this theme on<a href="#" > ThemeForest! </a></span>
              <span class="copy-right">&copy; 2015 ATTORNEY Theme by <a href="https://theemon.com/">Theemon.com</a></span>

            </div>



          </div>
        </div>

      </div>
    </div>

  </div>

</footer>
<!--footer Section End Here -->
